.home {
    background: url("../img/bg-main.jpg");
    background-size: cover;
    background-position: center;

    display: inline-flex;
    position: fixed;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    
    box-shadow: inset 0 0 5em 3em #000123;
}


/* 3D Transform CSS: https://polypane.app/css-3d-transform-examples/ */
#me {
    width: 100%;

    text-align: center;
    font-size: .9em;
    margin-top: 2em;
}

/*
    Mobile CSS
*/
@media (max-width : 620px ) {
    #me {
        position: absolute;
        top: 2em;
        margin-top: 0;
    }

    .content {
        margin-top: 4em;
        height: 50%;
    }
}